AIRFLOW_UID=1000
# Airflow main config
AIRFLOW__CORE__FERNET_KEY='ITb_s7x3-1234567890abcdefghijklmnopqrs_tuvw='
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres/airflow
AIRFLOW__CORE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres/airflow
AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION=true
AIRFLOW__CORE__LOAD_EXAMPLES=false
AIRFLOW__WEBSERVER__SECRET_KEY=secret_key

# Spark main config
SPARK_MASTER_URL=spark://spark-master:7077
# Example database user
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=postgres


# Credentials for docker airflow
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow
DB_USER_AIRFLOW=airflow
DB_PASSWORD_AIRFLOW=airflow
DB_NAME_AIRFLOW=airflow

# Localstack credentials
AWS_KEY_ID=test
AWS_SECRET_ACCESS=test
AWS_REGION=us-east-1
AWS_ENDPOINT=http://localstack:4566

# Localstack variables
BUCKET_NAME=departure-info

# Airflow variables
AIRFLOW_VAR_SOURCE_DATA_PATH=/opt/airflow/source_file_storage
AIRFLOW_VAR_DESTINATION_DATA_PATH=/opt/airflow/destination_file_storage
AIRFLOW_VAR_EXPORTS_DATA_PATH=/opt/airflow/exports_file_storage

# Airflow connections
AIRFLOW_CONN_SPARK_DEFAULT='{"conn_type": "spark", "host": "spark://spark-master", "port": 7077}'
AIRFLOW_CONN_AWS_LOCALSTACK_DEFAULT='{"conn_type": "aws","login": "test","password": "test","extra": {"endpoint_url": "http://localstack:4566","region_name": "us-east-1"}}'
AIRFLOW_CONN_LIVY_DEFAULT='{"conn_type": "livy", "host": "livy", "port": 8998}'